<!DOCTYPE html>
<html>
  <head>
    <title>ComicWebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="app">
    <%= render 'layouts/log_user' %>
    <!-- <div ng-repeat="comic in vm.comics" >    Hello {{ comic  }} </div> -->
    <%= yield %>
  </body>
</html>
