<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>ComicWebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <i><%= content_tag(:div, flash[:error], :id => "flash_error") %></i>
    <i><%= content_tag(:div, flash[:notice], :id => "flash_notice") %></i>
    <i><%= content_tag(:div, flash[:alert], :id => "flash_alert") %></i>
    <br>

    <%= render 'layouts/log_user' %>
    <!-- <div ng-repeat="comic in vm.comics" >    Hello {{ comic  }} </div> -->
    <%= yield %>
  </body>
</html>
