<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>ComicVerge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <h2 style="color:red; margin: 0 auto;">Website Currently Under Construction</h2>

    <%= render 'layouts/log_user' %>
    <%= yield %>
  </body>
</html>
